.jumbotron{
    background-image: url('/assets/inicio.jpg');    
    margin-top: 2em;
    height: 500px;
    border: 1px solid black;
}

#logo{
    height: 200px;
    position: relative;    
    bottom: 3rem;
    right: 40.2rem;
    opacity: 0.8;
    border-radius: inherit;
}

#msgText{
    border-radius: 0.2rem;    
    width: 50%;
    text-align: center;
    margin-top: 1rem;
    display: none;
}

#logo_text{
    background: rgba(224, 224, 209, 0.8);
    padding-left: 1rem;
    margin-top: 1rem;
    position: relative;
    top: 10.7rem;
    display: inline-block;
    width: 40rem;
    border-radius: inherit;
}

h4{
    border: 0.1rem solid gray;
    border-radius: 0.2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    background: #cccccc;
}

#form{
    width: 50rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    background-color: #c0d0d8;
}

#form-login{
    width: 25rem;    
    margin-top: 7rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    background-color: #c0d0d8;
}

.container{
    margin-top:5em; 
    margin-bottom:5em;
}

.map{
    background-color: #c0d0d8;
    height: 30rem;
    margin-top: 7rem;
    padding: 2rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
}

.vertical-center{
    margin-left: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18rem;
    transform: translate(-50%,-50%);
    padding: 1rem;
    border: 0.05rem solid black;
}