.jumbotron{
    background-image: url('/assets/inicio.jpg');    
    margin-top: 6em;
    height: 500px;
    border: 1px solid black;
}

#logo{
    height: 200px;
    position: absolute;
    top: 35px;
    left: 50px;
    opacity: 0.8;
    border-radius: inherit;
}

#logo_text{
    background: rgba(224, 224, 209, 0.8);
    padding-left: 1rem;
    margin-top: 1rem;
    position: relative;
    top: 10.7rem;
    display: inline-block;
    width: 40rem;
    border-radius: inherit;
}

h4{
    border: 0.1rem solid gray;
    border-radius: 0.2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    background: #cccccc;
}

#form{
    width: 50rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    background-color: #c0d0d8;
}