.jumbotron{
    background-image: url('/assets/inicio.jpg');    
    margin-top: 6em;
    height: 500px;
    border: 1px solid black;
}

#logo{
    height: 200px;
    position: absolute;
    top: 35px;
    left: 50px;
    opacity: 0.8;
}

#logo_text{
    background: #aea5a5;
    position: relative;
    top: 10.7rem;
    display: inline-block;
    width: 40rem;
}

div h1{
    /* position: relative;
    top: 10.7rem; */
}

div h3{
    /* position: relative;
    top: 10.7rem; */
}